openapi: 3.0.3
info:
  title: KYC Admin API
  version: 2.0.0
servers:
  - url: https://mock.apidog.com/m1/1182812-1177228-default
    description: apidog mock default
  - url: https://mock.apidog.com/m1/1182812-1177228-1050889
    description: apidog mock server
paths:
  /api/v1/auth/login:
    post:
      tags: [auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              admin:
                value:
                  username: admin
                  password: '123456'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseToken'
  /api/v1/auth/logout:
    post:
      tags: [auth]
      summary: Logout
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/v1/auth/refresh/token:
    post:
      tags: [auth]
      summary: Refresh token
      parameters:
        - name: refreshToken
          in: cookie
          required: true
          description: HttpOnly refresh token cookie
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseToken'
  /api/v1/auth/role/toggle:
    post:
      tags: [auth]
      summary: Toggle role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleToggleRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseToken'
  /api/v1/user/detail:
    get:
      tags: [user]
      summary: Get current user detail
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'
  /api/v1/users:
    get:
      tags: [user]
      summary: List users
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, DISABLED]
        - name: keyword
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUserList'
  /api/v1/users/{id}:
    get:
      tags: [user]
      summary: Get user by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'
  /api/v1/users/{id}/disable:
    post:
      tags: [user]
      summary: Disable user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDisableRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStatus'
  /api/v1/users/{id}/enable:
    post:
      tags: [user]
      summary: Enable user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStatus'
  /api/v1/users/{id}/reset-password:
    post:
      tags: [user]
      summary: Reset user password
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserResetPasswordRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseId'
  /api/v1/roles:
    get:
      tags: [role]
      summary: List roles
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRoleList'
  /api/v1/roles/{id}/permissions:
    post:
      tags: [role]
      summary: Update role permissions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePermissionRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRolePermission'
  /api/v1/role/permissions/tree:
    get:
      tags: [permission]
      summary: Get permission tree
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePermissions'
  /api/v1/permission/menu/validate:
    post:
      tags: [permission]
      summary: Validate menu path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionValidateRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/v1/kyc/applications:
    get:
      tags: [kyc]
      summary: List KYC applications
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, NEED_MORE, PASSED, REJECTED]
        - name: keyword
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycList'
    post:
      tags: [kyc]
      summary: Create KYC application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycCreateRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycResult'
  /api/v1/kyc/applications/{id}:
    get:
      tags: [kyc]
      summary: Get KYC detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycDetail'
  /api/v1/kyc/applications/{id}/review:
    post:
      tags: [kyc]
      summary: Review KYC application
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycReviewRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycResult'
  /api/v1/kyc/applications/{id}/appeals:
    post:
      tags: [kyc]
      summary: Create KYC appeal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycAppealCreateRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycAppealResult'
  /api/v1/kyc/appeals:
    get:
      tags: [kyc]
      summary: List appeals
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, APPROVED, REJECTED]
        - name: keyword
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycAppealList'
  /api/v1/kyc/appeals/{id}/resolve:
    post:
      tags: [kyc]
      summary: Resolve appeal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycAppealResolveRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseKycAppealResult'
  /api/v1/tickets:
    get:
      tags: [ticket]
      summary: List tickets
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [WAITING, IN_PROGRESS, CLOSED]
        - name: category
          in: query
          schema:
            type: string
        - name: keyword
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketList'
    post:
      tags: [ticket]
      summary: Create ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketCreateRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketResult'
  /api/v1/tickets/{id}:
    get:
      tags: [ticket]
      summary: Get ticket detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketDetail'
  /api/v1/tickets/{id}/reply:
    post:
      tags: [ticket]
      summary: Reply ticket
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketReplyRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketResult'
  /api/v1/tickets/{id}/status:
    post:
      tags: [ticket]
      summary: Update ticket status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketStatusRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketResult'
  /api/v1/tickets/{id}/update:
    post:
      tags: [ticket]
      summary: Update ticket meta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketUpdateRequest'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTicketResult'
  /api/v1/audit/logs:
    get:
      tags: [audit]
      summary: List audit logs
      parameters:
        - name: action
          in: query
          schema:
            type: string
        - name: targetType
          in: query
          schema:
            type: string
        - name: keyword
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuditList'
components:
  schemas:
    ApiResponseBase:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: ok
      required: [code, message]
    ApiResponseToken:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/TokenData'
          required: [data]
    ApiResponseBoolean:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              type: boolean
          required: [data]
    ApiResponseUser:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/User'
          required: [data]
    ApiResponseUserList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserListResponse'
          required: [data]
    ApiResponseRoleList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Role'
          required: [data]
    ApiResponsePermissions:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PermissionItem'
          required: [data]
    ApiResponseStatus:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/StatusResult'
          required: [data]
    ApiResponseId:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/IdResult'
          required: [data]
    ApiResponseRolePermission:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RolePermissionResult'
          required: [data]
    ApiResponseKycList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/KycListResponse'
          required: [data]
    ApiResponseKycDetail:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/KycDetailResponse'
          required: [data]
    ApiResponseKycResult:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/KycActionResult'
          required: [data]
    ApiResponseKycAppealList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/KycAppealListResponse'
          required: [data]
    ApiResponseKycAppealResult:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/KycAppealResult'
          required: [data]
    ApiResponseTicketList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/TicketListResponse'
          required: [data]
    ApiResponseTicketDetail:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/TicketDetailResponse'
          required: [data]
    ApiResponseTicketResult:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/IdResult'
          required: [data]
    ApiResponseAuditList:
      allOf:
        - $ref: '#/components/schemas/ApiResponseBase'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AuditListResponse'
          required: [data]
    TokenData:
      type: object
      properties:
        accessToken:
          type: string
      required: [accessToken]
    LoginRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required: [username, password]
    RoleToggleRequest:
      type: object
      properties:
        role:
          type: string
          enum: [ADMIN, SUPPORT, AUDITOR]
      required: [role]
    PermissionValidateRequest:
      type: object
      properties:
        path:
          type: string
      required: [path]
    UserDisableRequest:
      type: object
      properties:
        reason:
          type: string
      required: [reason]
    UserResetPasswordRequest:
      type: object
      properties:
        password:
          type: string
    RolePermissionRequest:
      type: object
      properties:
        permissionCodes:
          type: array
          items:
            type: string
      required: [permissionCodes]
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        status:
          type: string
          enum: [ACTIVE, DISABLED]
        disabledReason:
          type: string
        profile:
          $ref: '#/components/schemas/Profile'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
        currentRole:
          $ref: '#/components/schemas/Role'
      required: [id, username, roles, currentRole, status]
    UserListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserListItem'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required: [items, page, pageSize, total]
    UserListItem:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        displayName:
          type: string
        status:
          type: string
          enum: [ACTIVE, DISABLED]
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
        createdAt:
          type: string
          format: date-time
      required: [id, username, status, roles, createdAt]
    Profile:
      type: object
      properties:
        avatar:
          type: string
        nickName:
          type: string
    Role:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          enum: [ADMIN, SUPPORT, AUDITOR]
        name:
          type: string
      required: [id, code, name]
    PermissionItem:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [MENU, BUTTON]
        icon:
          type: string
        order:
          type: integer
        enable:
          type: boolean
        show:
          type: boolean
        path:
          type: string
        redirect:
          type: string
        component:
          type: string
        layout:
          type: string
        keepAlive:
          type: boolean
        children:
          type: array
          items:
            $ref: '#/components/schemas/PermissionItem'
    StatusResult:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
      required: [id, status]
    IdResult:
      type: object
      properties:
        id:
          type: string
      required: [id]
    RolePermissionResult:
      type: object
      properties:
        roleId:
          type: string
        permissionCodes:
          type: array
          items:
            type: string
        updated:
          type: boolean
      required: [roleId, permissionCodes, updated]
    KycListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KycApplicationListItem'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required: [items, page, pageSize, total]
    KycDetailResponse:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/KycApplicationDetail'
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/KycReview'
        appeals:
          type: array
          items:
            $ref: '#/components/schemas/KycAppeal'
      required: [application, reviews, appeals]
    KycApplicationListItem:
      type: object
      properties:
        id:
          type: string
        fullName:
          type: string
        idNumber:
          type: string
        documentType:
          type: string
        phone:
          type: string
        status:
          type: string
          enum: [PENDING, NEED_MORE, PASSED, REJECTED]
        applicantName:
          type: string
        submittedAt:
          type: string
          format: date-time
      required: [id, fullName, idNumber, status, submittedAt]
    KycApplicationDetail:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        applicantName:
          type: string
        fullName:
          type: string
        idNumber:
          type: string
        documentType:
          type: string
        phone:
          type: string
        status:
          type: string
          enum: [PENDING, NEED_MORE, PASSED, REJECTED]
        submittedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        documents:
          type: array
          items:
            $ref: '#/components/schemas/KycDocument'
      required: [id, userId, fullName, idNumber, status, submittedAt, documents]
    KycDocument:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [ID_FRONT, SELFIE]
        url:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, type, url]
    KycReview:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
          enum: [PASSED, REJECTED, NEED_MORE]
        reviewerId:
          type: string
        reviewerName:
          type: string
        comment:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, action, reviewerId, createdAt]
    KycAppeal:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED]
        reason:
          type: string
        decisionComment:
          type: string
        handledByName:
          type: string
        handledAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
      required: [id, status, createdAt]
    KycActionResult:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        reviewedAt:
          type: string
          format: date-time
      required: [id, status]
    KycAppealListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KycAppealListItem'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required: [items, page, pageSize, total]
    KycAppealListItem:
      type: object
      properties:
        id:
          type: string
        applicationId:
          type: string
        applicantName:
          type: string
        idNumber:
          type: string
        applicationStatus:
          type: string
        status:
          type: string
        reason:
          type: string
        decisionComment:
          type: string
        handledByName:
          type: string
        handledAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
      required: [id, applicationId, status, createdAt]
    KycAppealResult:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        handledAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
      required: [id, status]
    KycCreateRequest:
      type: object
      properties:
        userId:
          type: string
        fullName:
          type: string
        idNumber:
          type: string
        documentType:
          type: string
        phone:
          type: string
        documents:
          type: array
          items:
            $ref: '#/components/schemas/KycDocumentRequest'
      required: [userId, fullName, idNumber, documentType, phone]
    KycReviewRequest:
      type: object
      properties:
        action:
          type: string
          enum: [PASSED, REJECTED, NEED_MORE]
        comment:
          type: string
      required: [action]
    KycAppealCreateRequest:
      type: object
      properties:
        reason:
          type: string
      required: [reason]
    KycAppealResolveRequest:
      type: object
      properties:
        status:
          type: string
          enum: [APPROVED, REJECTED]
        decisionComment:
          type: string
      required: [status]
    KycDocumentRequest:
      type: object
      properties:
        type:
          type: string
          enum: [ID_FRONT, SELFIE]
        url:
          type: string
      required: [type, url]
    TicketListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TicketListItem'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required: [items, page, pageSize, total]
    TicketDetailResponse:
      type: object
      properties:
        ticket:
          $ref: '#/components/schemas/TicketDetail'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/TicketMessage'
      required: [ticket, messages]
    TicketListItem:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [WAITING, IN_PROGRESS, CLOSED]
        tags:
          type: array
          items:
            type: string
        requesterName:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, subject, category, status, createdAt]
    TicketDetail:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [WAITING, IN_PROGRESS, CLOSED]
        tags:
          type: array
          items:
            type: string
        internalNote:
          type: string
        requesterName:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, subject, category, status, createdAt]
    TicketMessage:
      type: object
      properties:
        id:
          type: string
        senderId:
          type: string
        senderName:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, senderId, message, createdAt]
    TicketCreateRequest:
      type: object
      properties:
        requesterId:
          type: string
        subject:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        internalNote:
          type: string
      required: [requesterId, subject, category]
    TicketReplyRequest:
      type: object
      properties:
        message:
          type: string
      required: [message]
    TicketStatusRequest:
      type: object
      properties:
        status:
          type: string
          enum: [WAITING, IN_PROGRESS, CLOSED]
      required: [status]
    TicketUpdateRequest:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        internalNote:
          type: string
    AuditListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogItem'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required: [items, page, pageSize, total]
    AuditLogItem:
      type: object
      properties:
        id:
          type: string
        actorName:
          type: string
        action:
          type: string
        targetType:
          type: string
        targetId:
          type: string
        meta:
          type: object
        createdAt:
          type: string
          format: date-time
      required: [id, action, targetType, targetId, createdAt]
